body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    margin: 10% auto;
    overflow: hidden;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

*{
    box-sizing: border-box;
}
