body{
    margin: 0;
    padding: 0;
    display:flex;
    
    justify-content: center;
    /* margin: 10% auto; */
    overflow: hidden;   
}

canvas{
    z-index:-1000;
    position: fixed;
}

.modal{
    position: fixed;
    bottom: 35%;
    min-width: 250px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    color: #000;
    outline: none;
    width: 100%;
}
.modal>button{
    padding: 10px;
    font-size: 20px;
    border-radius: 10%;
    color: 000;
    background-color: antiquewhite;
}


*{
    box-sizing: border-box;
}


#board{
    position: fixed;
    top: 20%;
    opacity: 0.8;
}


@media (max-width:385px){
    body{
        margin: 0;
    }
}